<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cargas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>    
    <ion-item-sliding (click)="opcoes(carga)" *ngFor="let carga of cargas">    
      <ion-item>
        <ion-label><h3><strong>Nome:</strong></h3></ion-label>
        <ion-label><h3><strong>CPF:</strong></h3></ion-label>  
        <ion-label><h3><strong>Telefone:</strong> </h3></ion-label>
        <ion-label><h3><strong>Nascimento:</strong></h3></ion-label>                 
      </ion-item>
    </ion-item-sliding>  
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>